<div class="container">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <form role="form" action="" method="post" class="well">
                <fieldset>
                    <legend>Login</legend>
                    <div class="form-group">
                        <label>Nome de usuário ou email:</label>
                        <input type="text" name="username" class="form-control" value="{{ username }}" />
                    </div>
                    <div class="form-group">
                        <label>Senha:</label>
                        <input type="password" name="password" class="form-control" autocomplete="off" />
                    </div>
                    <button type="submit" class="btn btn-primary">Login</button>
                </fieldset>
            </form>
        </div>
    </div>
</div>